fastapi
uvicorn[standard]
chromadb
python-dotenv
openai
pydantic
pyyaml
requests
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-deepseek
llama-index-vector-stores-chroma
llama-index-vector-stores-qdrant
llama-index-readers-file
pymupdf
python-pptx
unstructured
llama-index-retrievers-bm25
llama-index-graph-stores-neo4j
sentence-transformers
transformers
torch
pillow
jieba
rank-bm25
neo4j
