fastapi
uvicorn[standard]
chromadb
python-dotenv
openai
pydantic
requests
llama-index-core
llama-index-embeddings-dashscope
llama-index-llms-dashscope
llama-index-llms-deepseek
llama-index-vector-stores-chroma
llama-index-readers-file
